.topnav {
	position: absolute;
	overflow: hidden;
	z-index: 50;
	width: 100%;
}

.topnav .nav_logo a {
	float: left;
	color: #fff;
	padding: 14px 26px;
	text-decoration: none;
	font-size: 17px;
}
.topnav .nav_menu {
position: absolute;
   right: 5%;
}
.topnav .nav_menu  a{
	float: left;
	color: #fff;
	padding: 14px 26px;
	text-decoration: none;
	font-size: 17px;
}
.nav_menu a:hover {
	color: black;
}
.active {
	color: black;
}
.topnav .icon {
	display:none;
}
/* 브라우저별 css 변경 */
@media screen and (max-width: 600px) {
	.topnav .nav_menu{
	display: none;
	text-align: center;
	}
	.topnav .nav_logo  a.icon {
		float: right;
		display: block;
		color:white;
	} 
	/* responsive 추가 */
	.topnav.responsive {
   		 background-color: white;
   		 width:60%;
   		height: 100%;
   		right:0;
		}
		.responsive .nav_logo  a, .responsive .nav_logo  a.icon {
		display: block;
		color:black;
	} 
	.responsive .nav_menu {
		text-align:center;
		color: black;
		display: block;
	    float: left;
    	margin-top: 60px;
		}
 	.responsive  .nav_menu > a:HOVER {
		display: block;
		color:#dcdcdc;
		width:100%;
	} 	
	.responsive  .nav_menu .active {
		color: black;
	}

		/*	
	.topnav.responsives .nav_menu  a {
		
		position:absolute;
		display: block;
		color:#ddd;
	} */
	
		/*
	.topnav.responsive a {
		float: left;
		display: block;
		color:black;
	}
	.nav_menu {
		margin-top:100px;
		display: block;
	}
	.nav_logo{
	 float:left;
	 display: inline;
	 text-align: left;
	 width: 100%;
	}
	.topnav.responsive  a:first-child{
		float: none;
	}
	.topnav.responsive  a:not(:first-child){
		text-align: center;
		display: block;
	}*/
	/* 아이콘 위
	
		.topnav.responsive a.icon {
		position:absolute; 
		float: right;
		display: block;
		color:black;
	}
}

@media screen and (max-width: 400px) {
.topnav.responsive {
		position: absolute;
	} 
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: none;
		text-align: right;
		color:black;
	}
}*/